body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	background: #000000 url("../img/bg-im.jpg") no-repeat top center;
	background-size: 1122px auto;
	min-width: 960px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	color: white;
}
a {
	text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	margin-bottom: 75px;
	color: #fff;
	background: #000;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-navigation {
	float: left;
	width: 780px;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #ffffff;
	text-decoration: none;
}
.main-navigation a:hover {
	background: #242424;
}
.user-block {
	float: right;
  max-width: 140px;
}
.login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}
.login:hover {
	background-color: #242424;
}
.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: transparent url("../img/ic-login.png") no-repeat;
	opacity: 0.3;
}
.login:hover::before {
	opacity: 1;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.index-logo img {
	width: 368px;
	height: 204px;
}
.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}
.features-item:last-child {
	margin-right: 0;
}
.features-name {
	display: block;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}
.features-name::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #ffffff;
	transform: rotate(45deg);
}
.features-item p {
	margin: 10px;
	margin-bottom: 0;
}
.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
	color: #000000;
	background: 
	url("../img/shadow.png") no-repeat center,
	#f8f5f2 url("../img/pattern.png");
}
.index-content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}
.index-content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}
.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.index-content p {
	margin: 0;
	margin-bottom: 25px;
}
.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}
.new-preview li {
	margin-bottom: 25px;
}
.new-preview p {
	margin-bottom: 0;
}
.new-preview {
	text-transform: none;
}
.btn {
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-align: top;
	vertical-align: top;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	border: none;
	outline: 0;
	cursor: pointer;
}
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-contacts {
	float: left:;
	width: 320px;
	margin-right: 60px;
}
.footer-social {
	float: left;
	width: 180px;
}
.footer-copyright {
	float: right;
	width: 180px;
}
